.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;

  .navContainer {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;

    .logo {
      font-weight: 500;
    }

    .navItems {
      margin-left: 5px;
      button {
        font-weight: 600;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 5px 10px;
        color: #003580;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
}
